/*
TYPOGRAPHY
*/
html {
  font-size: 62.5%;
  font-family: $font-primary;
}

header {
    text-transform: uppercase;
    color: white;

    p {
        font-size: 1.8rem;
        margin: 0;
    }

    h1 {
        font-size: 8.5rem;
        font-weight: 900;
        letter-spacing: 0.6rem;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    ul {
        padding: 0;
        list-style: none;
        margin-top: -1rem;

        li {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 300;

            &:not(:first-child) {
                margin-left: 3rem;
            }
        }
    }
}

@media(max-width: 500px) {
    header h1 {
        font-size: 5rem;
    }
}

p {
    font-size: 1.6rem;
    &.error {
        color: $color-error;
    }
}

h2 {
    font-family: $font-primary;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding-bottom: 0.2rem;
    color: $color-primary;
    display: inline-block;
    margin: 0;

    &.border {
        border-bottom: 1px solid $color-primary;
    }
    
}

h3 {
    font-size: 2.0rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: lighten($color-text-dark, 20%);
}