// TYPOGRAPHY
$font-title: 'Lato', sans-serif;
$font-primary: 'Vollkorn', serif;
$font-secondary: 'Unica One', cursive;

// COLORS
$color-nav-bg: #333545;
$color-sidenav-bg: #333545;
$color-sidenav-user: #565c89;
$color-sidenav-text: #98999e;
$color-primary: #92b4a7;
$color-bg: #f3f3f3;
$color-text-dark: #171717;
$color-text-light: #888888;
$color-text-gray: #6b6b6b;
$color-form: #2c1e28; 


$badge-bg-color: green;