// TYPOGRAPHY
$font-title: 'Lato', sans-serif;
$font-primary: $font-title;
$font-text: 'Vollkorn', serif;
$font-secondary: 'Unica One', cursive;

// COLORS
$color-primary: #333545;
$color-secondary: #565c89;
$color-accent: #92b4a7;
$color-light-1: #e8eaf6;
$color-error: #ff3860;
$color-button-success: #5cb85c;
$color-button-error: $color-error;
$color-button-input: #363636;
$color-button-input-border: #dbdbdb;
$secondary-color: $color-secondary;
$color-nav-bg: #333545;
$color-sidenav-bg: #333545;
$color-sidenav-user: #565c89;
$color-sidenav-text: #98999e;
$color-bg: #f3f3f3;
$color-text-dark: #171717;
$color-text-light: #888888;
$color-text-gray: #6b6b6b;
$color-form: #2c1e28; 
$light-3: #f8f8f8;


$badge-bg-color: green;