// TYPOGRAPHY
$font-title: 'Lato', sans-serif;
$font-primary: 'Vollkorn', serif;
$font-secondary: 'Unica One', cursive;

// COLORS
$color-primary: #92b4a7;
$color-bg: #f3f3f3;
$color-text-dark: #171717;
$color-text-light: #888888;