/**
AMV - DETAILPAGE
**/

body.amv {
    background-color: #100b0f;
    header {
        i {
            font-size: 1.6rem;
            vertical-align: middle;
            margin-bottom: 4px;
        }
        a {
        font-family: $font-primary;
        font-weight: 300;
        font-size: 1.6rem;
        color: white;
        text-decoration: none;
        &:hover, :active, :focus {
            text-decoration: none;
            color: $color-accent;
        } 
        }
        .container {
            margin-top: 2%;
        }
    }
    .row {
        margin-top: 2%;
        margin-bottom: 5%;
    }
    .content p {
        font-size: 1.5rem;
        color: $color-text-light;
    }
    .content h2 {
        color: $color-secondary;
    }
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 800px) {
    .content .row {
        margin-left: 0;
        margin-right: 0;
    }
}