html {
    height: 100%;
    overflow-y: scroll;
}

body {
    height: 100%;
    min-height: 100%;
    background-color: $color-bg;
}

.clear {
    background-color: $color-bg;
    &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.img--circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.material-icons {
    font-size: inherit;
    vertical-align: bottom;
}

a:visited, a:hover, a:focus, a:active {
    text-decoration: none !important;
}


[v-cloak] { display:none; }
