body.dashboard {
    min-height: auto;
    background-color: $light-3;

    .nav--side {
        &.nav--fixed {
            overflow: hidden;
            top: 0;
            left: 0;
            position: fixed;
        }
        width: 240px;
        top: 50px;
        margin: 0;
        height: calc(100% + 60px);
        z-index: 10;
        background-color: $color-sidenav-bg;
        will-change: left;
        ul {
            padding-left: 0;
            font-family: $font-primary;
        }
        li:not(:first-of-type) {
            i {
                padding-left: 20px;
                font-size: 2.0rem;
                vertical-align: bottom;
                padding-right: 20px;
            }
            a {
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 240px;
                font-size: 1.3rem;
                font-weight: 900;
                text-transform: uppercase;
                color: $color-sidenav-text;
                &:hover, &.active {
                    text-decoration: none;
                    background-color: lighten($color-sidenav-bg, 10%);
                }
            }  
        }
        li:nth-of-type(2) {
            margin-top: 30px;
        }
    }
    .labels {
        margin-top: 10px;
    }
}

.dashboard__index {
    h3 + .button {
        float: right;
        margin-top: 0.85em;
        margin-right: 30px;
    }
    .button {
        margin-right: 15px;
    }
}

.dashboard__content {

    padding-left: 240px;
    margin-top: 50px;
    .col-xs-12 { padding-left: 0; padding-right: 30px; }

    h3 {
        font-family: $font-primary;
        font-weight: 900;
        color: $color-sidenav-bg;
        font-size: 1.6rem;
        display: inline-block;
    }

    section {
        .row {
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 20px;
        }
        margin-bottom: 5%;
    }
}

img.preview {
    max-height: 278px;
    max-width: 100%;
}

.dashboard__overview {
    p:first-of-type {
        font-family: $font-primary;
        font-weight: 300;
        color: $color-text-light;
        margin-top: 1em;
    }
}

.multiselect__tags {
    background: transparent !important;
    padding-top: 5px !important;
    border: 0.1rem solid #d1d1d1 !important;
}
.multiselect__input {
    border: none !important;
    margin-bottom: 0 !important;
}   

.dashboard__user {
    margin-top: 50px;
    text-align: center;
    padding: 20px 0;
    background-color: $color-sidenav-user;

    div {
        margin: 10px auto 0 auto;
    }
    h3,
    p {
        margin: 0;
    }
    a {
        color: $color-bg;
        &:hover {
            text-decoration: none;
            color: lighten($color-sidenav-user, 40%);
        }
    }
    h3 > a {
        font-family: $font-primary;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.6rem;
    }
    p > a {
        font-weight: 300;
        font-size: 1.4rem;
    }
}



.dashboard__title {
    background-color: white;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    
    h2 {
        font-size: 1.8rem;
        color: $color-text-gray;
        font-family: $font-primary;
        font-weight: 900;
    }
}



.card-content {
    h2 {
        display: inline-block;
    }
    h2 + p {
        float:right;
        margin-top: -1px !important;
    }
}

.dashboard__form {
    max-width: 1400px;
    input[type="submit"]:nth-child(2), #cancel {
        margin-left: 20px;
    }
    label.delete {
        margin-bottom: 15px;
    }
}

.form--profile {
    img {
        max-height: 100px;
        width: auto;
    }
    .img--description {
        p {
            font-size: 1.3rem;
            color: $color-text-light;
        }
        display: inline-block;
        margin-left: 20px;
        vertical-align: top;
    }
}


.preloader-wrapper { display: block; text-align: center; margin: 20px auto; }

.is-right {
    margin-left: 30px;
}

.publishment {
    margin-bottom: 3px;
    margin-top: -5px;
}

.dashboard__card {
    h2 a {
        color: $color-primary;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 1.6rem;
        &:hover {
            color: $color-secondary;
        } 
    }
    p {
        font-size: 1.6rem;
        color: $color-text-light;
    }
    .card-action a {
        font-size: 1.4rem;
    }
    .button--transparent .material-icons {
        vertical-align: middle;
        &.high {
            font-size: 1.3rem;
            margin-bottom: 1px;
        }
    }
    .card-image img {
        height: 170px !important;
        width: 129px !important;
        object-fit: cover;
    }
}


/**
* Animations
**/

.contest-list-leave-active {
    transition: all 0.5s;
    opacity: 0;
}

@media only screen and (max-width : 760px) {
    body.dashboard .nav--side {
        &.nav--fixed {
            position: static;
        }

        width: 100%;

        li:nth-of-type(2) {
            margin-top: 10px;
        }
        li:not(.dashboard__user) {
            display: inline-block;
        }
    }

    .dashboard__content {
        padding-left: 0;
        margin-top: 0;
    }
}

@media only screen and (max-width : 515px) {
    .card-image img  {
        display: none !important;
    }
    .card .card-action {
        padding: 10px 20px 10px 20px;
        a {
            display: inline-block;
            margin-top: 5px;
            margin-bottom: 5px;
            &:nth-of-type(2) {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
    .dashboard__index .button {
        margin-right: 0;
    }
}