form {
    margin: 0 auto;
    max-width: 428px;
}

input {
    font-family: $font-secondary;
    font-size: 1.4rem;
    border: 0;
    outline: none;
    &[type="text"],
    &[type="password"],
    &[type="email"] {
        display: block;
        width: 100%;
        border-bottom: 1px solid #2c1e28;
        background-color: transparent;
        color: darken($color-primary, 5%);
        margin-bottom: 10px;
        padding: 10px 0px;
    }
    &[type="submit"] {
        padding: 10px 60px;
        background-color: #2c1e28;
        color: #9d7f94;
        text-transform: uppercase;
        border-radius: 5px;
        &:active, &:hover, &:focus  {
            background-color: lighten(#2c1e28, 10%);
        }
    }
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #9d7f94;
    text-transform: uppercase;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #9d7f94;
    opacity: 1;
    text-transform: uppercase;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #9d7f94;
    opacity: 1;
    text-transform: uppercase;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9d7f94;
    text-transform: uppercase;
}