body.profile {
    height: 100%;
    
    header {
        height: 90%;
        min-height: 600px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(/img/bgs/default.jpg);
        background-size: cover;
        .container {
            margin-top: 10%;
        }
        ul {
            margin-bottom: 5rem;
        }
        p {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
    .row {
        margin-top: 40px;
    }
    .col-xs-12 {
        margin-bottom: 20px;
    }
    .card-image > img {
        height: 350px;
        object-fit: cover;
    }
    .card-content {
        min-height: 100px;
    }

    .card {
        min-height: 510px;
        a:not(.button) {
            color: $color-primary;
            &:hover, &.focus {
                color: $color-secondary;
            }
        }
    }
}

.poster-placeholder {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    text-align: center;
    h3 {
        color: $color-accent;
    }
}


.boxbg {
    height: 500px;
    background-color: $color-bg;
    border-radius: 0.5rem;
    margin-top: -70px;
}

@media (max-width: 800px) {
    .boxbg {
        border-radius: 0px;
    }
    .container {
        width: 100%;
    }
    body.profile header .container {
        margin: 30px;
    }
}

.catalogue {
    margin: 15px 30px;
}