body.profile {
    height: 100%;
    
    header {
        height: 90%;
        min-height: 600px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(/img/bgs/default.jpg);
        background-size: cover;
        .container {
            margin-top: 10%;
        }
        ul {
            margin-bottom: 5rem;
        }
        p,
        li {
            font-size: 1.5rem;
        }
        p { font-weight: 600; }
        li { font-weight: normal; }
    }
    
}

.boxbg {
    height: 500px;
    background-color: $color-bg;
    border-radius: 0.5rem;
    margin-top: -70px;
}

@media (max-width: 800px) {
    .boxbg {
        border-radius: 0px;
    }
    .catalogue > h2 {
        text-align: center;
    }
    header .container {
        padding-left: 35px;
    }
}

@media (max-width: 400px) {
    header ul {
        margin-top: 0;
        li {
            display: block;
            &:nth-child(2) {
                margin-left: 0;
            }
        }
    }
    .catalogue > h2 {
        text-align: center;
        display: inline-block;
    }
}


.catalogue {
    margin: 15px 30px;
    &>h2 {
        font-weight: 600 !important;
        + p {
            color: $color-text-light;
            font-size: 1.5rem;
            margin-top: 10px;
        }
    }
}