.button {
    background-color: $color-primary;
    border-radius: 2rem;
    padding: 13px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: $font-secondary;
    font-size: 1.8rem;
    text-decoration: none;

    &:hover, :focus, :active {
        background-color: darken($color-primary, 10%);
        text-decoration: none;
        color: white;
    }

    &-small {
        color: $color-text-dark;
        padding: 10px 20px;
        font-size: 1.6rem;
        border-radius: 1rem;
        border: 1px solid $color-text-dark;
        background-color: transparent;

        &:hover, :focus, :active {
            background-color: $color-text-dark;
            color: white;
        }
    }
    &-input {
        letter-spacing: .2rem;
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #424242;
        background-color: #e8eaf6;
        font-weight: normal;
        padding: 4px 15px;
        border: none;
        max-width: 100px;

        &:hover {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }
        &:focus {
	        outline: 1px dotted #000;
	        outline: -webkit-focus-ring-color auto 5px;
        }

        i {
            font-size: 1.4rem;
            vertical-align: middle;
        }
    }

    &-color {
        letter-spacing: .2rem;
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #f3f3f3;
        background-color: $color-sidenav-bg;
        font-weight: 600;
        padding: 4px 30px;
        border: none;
        &:hover {
            background-color: $color-sidenav-user;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
        }
        &:focus {
            border: none;
            outline: 0;
        }
    }

    &-light {
        letter-spacing: .2rem;
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $color-sidenav-text;
        background-color: #e8eaf6;
        font-weight: 600;
        padding: 4px 30px;
        border: none;
        margin-left: 20px;

        &:hover {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }
        &:focus {
            border: none;
            outline: 0;
        }
    }
}


a.button.icon {
    padding-left: 2rem;
}

a.button.icon span{
    padding-left: 36px;
    background: url(../img/play.png) no-repeat;
}