body.profile, body.login {
  .row {
        margin-top: 25px;
    }
  .col-xs-12 {
  margin-bottom: 20px;
}

.card-image>img {
  height: 350px;
  object-fit: cover;
}

.card-content {
  min-height: 100px;
}

.card {
  margin: 0 auto;
  max-width: 400px;
  min-height: 510px;
  a:not(.button) {
    color: $color-primary;
    &:hover,
    &.focus {
      color: $color-secondary;
    }
  }
  p, a.profile-link {
    color: $color-text-gray;
  }
}

.card__likes {
  float: right;
  span {
    color: #9E9E9E;
    font-size: 1.4rem;
  }
}

.poster-placeholder {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  text-align: center;
  h3 {
    color: $color-accent;
  }
}
}