.userbar {
    background-color: $color-bg;
    ul {
        padding-left: 0;
        margin:0;
        li {
            font-family: $font-primary;
            display: inline-block;
            font-size: 1.4rem;
            padding: 20px 20px;
            h3 {
                font-family: $font-primary;
                margin: 0;
                font-size: 1.4rem;
                font-weight: 900;
                color: #a1a1a1;
            }
            p {
                font-weight: 300;
                color: #2d2d2d;

                a {
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        cursor: pointer;
                        color: $color-primary;
                        text-decoration: none;
                    }
                }
            }
            &:first-of-type {
                padding-left: 0;
                text-transform: uppercase;
                font-weight: 900;
                color: #a1a1a1;
                font-size: 2.4rem;

                img {
                    padding-right: 5px;
                }
            }
            &:not(:first-of-type) {
                vertical-align: middle;
            }
        }
    }
}